/*------- Normalize -------*/
@import 'normalize.styl'


/*-- variables --*/
azul = blue
amarillo = yellow
rojo = red
blanco = #fff
negro = #000


/*--------mixins---------*/
left()
  float left

right()
  float right

border()
  border 1px solid rojo

cursiva()
  font-style italic

mayuscula()
  text-transform uppercase

bold()
  font-weight bold

block()
  display block

centrar()
  margin 0 auto
  block()

alinear()
   display inline-block
   vertical-align top
   zoom 1

font(valor)
  font-size valor

/*------------Clases globales--------------*/
.left
  float left

.right
  float right

.border
  border 1px solid rojo

.clear
  clear both



/*-----------------Body y Container---------------------*/
body
  background azul
  alinear()



/*---------------------Loader---------------------------*/





/*-------------------------header-----------------------*/



/*-----------------------Slider-------------------------*/



/*----------------------Contenido-----------------------*/

/*----------Home-----------*/





/*---------------------Footer---------------------------